/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  xxxfont-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, Arial, sans-serif;
}

h1 {
  font-size: 110%;
  font-weight: 700;
  margin-bottom: 1em;
}

h2 {
  font-size: 100%;
  font-weight: 700;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 100%;
  margin: 2em auto 2em auto;
  line-height: 1.5em;
}

#title {
  color: #a00;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  xxxmargin-bottom: 0.5em;
  font-size: 250%;
  xxxline-height: 1.5em;
  padding-bottom: 2px;
  border-bottom: 3px solid #ddd;
  text-indent: -0.2em;
  margin-left: 0.2em;
}
#title span.rest {
}

  .site .meta {
    color: #aaa;
    margin-bottom: -0.5em !important;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 2px solid #ddd;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }
      
body {background-color:white;padding:0 2em}

ul {
  margin-left: 0;
  padding-left: 1em;
  xxtext-indent: -1em;
}

/* Navigation bar */
#navbar {
  margin-top: 0.5em;
  margin-bottom: 25px;
  text-align: left;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
}

#navbar ul {
 margin-left: 0;
 padding-left: 0;
 display: inline;
 }
 
#navbar ul li {
 margin: 0 0 0 .75em;
 padding: 0px 0.75em 0 0em;
 border-right: 1px solid #999;
 color: #000;
 list-style: none;
 display: inline;
 line-height: 2em;
 }
  
#navbar ul li:first-child {
  padding-left: 0px;
 }

#navbar ul li:last-child {
 xxxmargin: 0;
 border-right: none;
 list-style: none;
 display: inline;
 padding-right: 0px;
 }

#navbar ul li span.here {
  border-bottom: hidden;
  color: #a00;
} 
 #navbar ul li a,
 #navbar ul li a:visited {
   color: #000;
   text-decoration: none;
 }
 #navbar ul li a:hover { 
   color: #000;
	border-bottom: 1px solid #999;
 }
 
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
  