<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="">
  <meta name="author" content="Kevin Holloway">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Fonts -->
  <!-- Raleway font for page titles and section headers -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
  <!-- Inconsolata font for code examples -->
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

   <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="/css/skeleton.css" type="text/css">
  <link rel="stylesheet" href="/css/special.css" type="text/css">
  <!-- link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>

<body>

<div class="site">
  <div id="title">
    <span class="desc">j</span><span class="rest">2form</span>
  </div>
  {{ content }}
  <div class="footer">
    <div class="contact">
      <p>
        Kevin Holloway &nbsp; [kevin@j2form.org]
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/kevinau">Source code on GitHub</a>
      </p>
    </div>
    <!-- When a RSS feed is established, uncomment this div
    <div class="rss">
      <a href="http://feeds.feedburner.com/tom-preston-werner">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
    -->
  </div>
</div>

<!-- Do I really want this link?
<a href="http://github.com/kevinau"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
-->

<!-- Google Analytics -->
<!--  Change when Google Analytics is set up
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6016902-1");
pageTracker._trackPageview();
</script>
-->
<!-- Google Analytics end -->

</body>
</html>
