<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Kevin Holloway" />
   <!-- When a RSS feed is established, uncomment this div.  See also the div at the bottom of the page.
   <link href="http://feeds.feedburner.com/???" rel="alternate" title="Kevin Holloway" type="application/atom+xml" />
   -->
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

   <!-- Raleway font for page titles and section headers -->
   <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <span class="main">Kevin Holloway</span>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Kevin Holloway &nbsp; [kevin@j2form.org]
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/kevinau">Source code on GitHub</a>
      </p>
    </div>
    <!-- When a RSS feed is established, uncomment this div
    <div class="rss">
      <a href="http://feeds.feedburner.com/tom-preston-werner">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
    -->
  </div>
</div>

<!-- Do I really want this link?
<a href="http://github.com/kevinau"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
-->

<!-- Google Analytics -->
<!--  Change when Google Analytics is set up
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6016902-1");
pageTracker._trackPageview();
</script>
-->
<!-- Google Analytics end -->

</body>
</html>
